/* ***** Master Stylesheet ***** */

/* :: 2.0 Import All CSS Plugins */
@import '../vendors/css/bootstrap.min.css';
@import '../vendors/fontawesome/css/all.min.css';
@import '../vendors/css/slick.css';

// *******************
//     utilities
// *******************
@import "theme/color";
@import "theme/fonts";
@import "theme/variables";
@import "theme/responsive";

// *******************
//     mixins
// *******************
@import "theme/flex";
@import "theme/texts";
// *******************


//     stylesheet
// *******************
@import "theme/reboot";
@import "theme/spacing";
@import "theme/heading";
@import "theme/buttons";
@import "theme/header";
@import "theme/footer";


@import "theme/index";
@import "theme/assets";
@import "theme/particle";
@import "theme/company";


//    pages
// *******************
@import "pages/homepage";





.page_title{
    background-image: url("../img/assett-hr6tyu-rnhnrtsyghdfg--24.png");
    height: 150px;
    width: 100%;
    position: relative;
}

.page_title h3{
    color: $white;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
}

.asset_information{
    margin-top: 50px;
}

.asset_information h4{
    font-family: montBold;

}



.pointer{
    cursor: pointer;
}