// Heading Color
$heading: #303030;

// Text Color
$text: #707070;

// Gray Background
$bg-gray: #f2f4f5;

// Primary Color
$primary: #4376CD;

// White Color
$white: #ffffff;

// Dark Color
$dark: #0f1112;

// Border Color
$border: #e1e1e1;

// Hover Color
$hover: #4376CD;

// Footer Color
$footer: #191c1d;

// Secondary Color
$secondary: #595959;




$customYellow: #F0B625;
$customGreen: #3cf22d;

.color_yellow{
    color: $customYellow;
}
.color_green{
    color: $customGreen;
}