@mixin font-face($font-family, $url) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$url}.eot');
    src: url('#{$url}.eot?#iefix') format('embedded-opentype'),
    url('#{$url}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@include font-face('montBold', '../fonts/Montserrat-Bold');
@include font-face('montMedium', '../fonts/Montserrat-Medium');
@include font-face('montRegular', '../fonts/Montserrat-Regular');
@include font-face('montLight', '../fonts/Montserrat-Light');
@include font-face('montItalic', '../fonts/Montserrat-Italic');



// Fonts
$fonts: 'montRegular';

$montBold: 'montBold';
$montMedium: 'montMedium';
$montRegular: 'montRegular';
$montLight: 'montLight';
$montItalic: 'montItalic';

.montBold{
  font-family: $montBold;
}
.montMedium{
  font-family: $montMedium;
}
.montRegular{
  font-family: $montRegular;
}
.montLight{
  font-family: $montLight;
}
.montItalic{
  font-family: $montItalic;
}

