// Xtra Large Breakpoint
$breakpoint-xl: 'only screen and (min-width:1200px)';
// Large Breakpoint
$breakpoint-lg: 'only screen and (min-width:992px) and (max-width:1199px)';
// Medium Breakpoint
$breakpoint-md: 'only screen and (min-width:768px) and (max-width:991px)';
// Small Breakpoint
$breakpoint-sm: 'only screen and (min-width:576px) and (max-width:767px)';
// Xtra Small Breakpoint
$breakpoint-xs: 'only screen and (max-width:767px)';
// Xtra Small Landscape Breakpoint
$breakpoint-xs-landscape: 'only screen and (min-width:480px) and (max-width:767px)';


//index.html
@media #{$breakpoint-sm, $breakpoint-xs} {

    .h1,
    h1 {
        font-size: 2rem;
    }


    #box1 {
        padding: 20% 0 !important;
        
        .shape {
            width: 100% !important;
        }
    }

    #box2 {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 100px !important;
    }

    #box3,
    #box4 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    } 

    #box2 .dash_bottom {
        border-bottom: none;
    }

    #box2 .dash_right {
        border-right: none;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #box2 .dahs_right_neighb{
        padding-left: 15px;
        padding-right: 15px;
    }

    #box2 #whyUs {
        width: 100% !important;
        margin: auto;
    }



    #box3 #accountTypes {
        width: 100% !important;
        display: inline-block !important;
    }

    #box3 #accountTypes .shape {
        margin: 0 !important;
        width: 100%;
    }

    #box3 .shape h5 {
        padding-top: 15px;
    }


    #box4 #tradingCards {
        display: inline-block !important;
    }

    #box4 #tradingCards .shape {
        margin-bottom: 25px;
        width: 100%;

    }

    #slogan button {
        padding: 10px 10px !important;
        font-size: 0.8rem !important;
    }
}


//assets.html
@media #{$breakpoint-sm, $breakpoint-xs} {
    .asset_information img {
        margin-bottom: 15px;
    }
}



//footer.html
@media #{$breakpoint-sm, $breakpoint-xs} {
    footer .row div {
        text-align: center !important;
        margin-bottom: 30px !important;
    }

    footer .support {
        padding-left: 0 !important;
    }

    footer .company {
        padding-left: 0 !important;
    }
}


//education.html
@media #{$breakpoint-sm, $breakpoint-xs} {
    #whatIsCryptoC h4 {
        margin-top: 30px;
    }
}


//navigation.html
@media #{$breakpoint-sm, $breakpoint-xs} {
    #navigation{
        padding: 10px !important;
    }
}