//*footer scss

footer {
    background: #151B34;
    padding-top: 20px;
    font-size: 15px;
}

footer h5,
footer li {
    color: $white;
    line-height: 30px;
}

footer #eyeIMG {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

footer #logoIMG_parent {
    width: 20%;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

footer .support {
    padding-left: 7%;
}

footer .company {
    padding-left: 15%;
}

footer .company li a {
    transition: .5s;
}

footer .company li a:hover {
    padding-left: 10px;
}

footer p {
    color: $white;
    font-family: montBold;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    font-size: 10px;
}

footer p,
footer a {
    color: $white;
}

footer p,
footer a:hover {
    color: $white;
}

footer p.info {
    width: 80%;
}