//*header scss goes here
body.hidden{
  overflow: hidden!important;
}
nav{
  padding:20px 0;
  width: 100%;
  top: 0;
  position: relative;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger{
    display: none;
    position: absolute;
    right: 15px;
    width: 25px;
    height: 18px;
    top: 50%;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
    span{
      background-color: $white;
      height: 2px;
      display: block;
      width: 25px;
      position: absolute;
      right: 0;
      -webkit-transition: .2s;
      -moz-transition: .2s;
      -ms-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      &.t{
        top: 0;
      }
      &.m{
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      &.b{
        bottom: 0;
      }
    }
  }
  .logo{
    display: flex;
    position: relative;
    z-index: 12;
    a{
      width: 141px;
      height: 56px;
      background-image: url(../img/logo.svg);
      -webkit-background-size: contain;
      background-size: contain;
      background-position: center;
    }
  }
  ul{
    display: flex;
    align-items: center;
    li{
      margin-left: 33px;
    }
    a{
      // color: $dark;
      color: #fff;
      // font-size: 12px;
      font-size: 1rem;
      font-weight: 600;
      transition: color .15s;
      &:hover{
        color: #fff;
      }
    }
  }
}

@media (max-width: 768px) {
  nav{
    padding-top: 15px;
    .container{
      max-width: 100%;
      position: relative;
    }
    .hamburger{
      display: block;
    }
    .logo{
      a{
        width: 120px;
        height: 34px;
      }
    }
    ul{
      flex-direction: column;
      position: fixed;
      top: 0;
      right: -102%;
      padding: 130px 0 70px 0;
      z-index: 10;
      background-color: #000;
      height: 100vh;
      align-items: flex-end;
      overflow-y: auto;
      width: 100%;
      transition: .1s;
      // background-color: $primary;
      background-color: #151b34;
    }
    li{
      margin-right: 30px;
      text-align: right;
      margin-bottom: 30px;
      /* ttt
      &.lang{
        margin-top: auto;
      }
      */
      a{
        font-size: 20px;
        opacity: .7;
        &:hover{
          font-size: 20px;
          opacity: 1;
        }
      }
    }
  }
  nav.active{
    ul{
      right: 0;
      li{
        &.res-copy{
          display: block;
        }
      }
    }
    .hamburger{
      span{
        background-color: $white;
        &.t{
          top: 8px;
          transform: rotate(45deg);
        }
        &.m{
          opacity: 0;
        }
        &.b{
          bottom: 8px;
          transform: rotate(-45deg);
        }
      }
    }
    .logo{
      a{
        background-image: url(../img/logo.svg);
      }
    }
  }
}



#navigation{
  position: fixed;
  z-index: 999;
  transition: .5s;
}



#navigation li a.active{
  position: relative;
}

#navigation li a.active:after{
  content: "";
  width: 20px;
  height: 3px;
  background-color: $customYellow;
  position: absolute;
  right: 0!important;
  display: block;
  bottom: -10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: $white;
  cursor: default;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a, .dropdown-content a:hover{
  color: $dark;
}

