$transparentBlack: rgba(0, 0, 0, 0.5);

.shape {
    background: $transparentBlack;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.shape h1,
.shape h5,
.shape h4,
.shape p {
    color: #fff;
    font-family: montRegular;
}


#box1 {
    background-image: url("../img/assett-hr6tyu-rnhnrtsyghdfg--24.png");
    background-size: cover;
    // padding: 10% 100px;
    position: relative;
    position: relative;
    height: 100vh;

    .shape {
        padding: 7%;
        //ttt width: 95%;
        width: 60%;
    }

}
.justifyCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#slogan {
    position: relative;
}

#slogan p {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

#slogan a {
    border-radius: 85px;
    margin-top: 30px;
    font-family: montBold;
    // padding: 15px 20px;
    width: 180px;
}

// #slogan button.openAccount {
//     color: #fff
// }

#iframeParent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0d111e99;
}





#box2 {
    background-image: url("../img/assett-hr6tyu-rnhnrtsyghdfg--24.png");
    background-size: cover;
    background-position: center;
    padding: 100px;
    padding-bottom: 0px;
    background-attachment: fixed;
    
    #whyUs .shape{
        padding: 27px;
    }
}

#box2 #whyUs {
    //ttt width: 95%;
    width: 100%;
    padding: 47px;
}

#whyUs p,
#whyUs h5 {
    text-align: left;
}

.dash_bottom {
    border-bottom: 1px dashed #fff;
}

.dash_right {
    border-right: 1px dashed #fff;
    padding-left: 18px;
    padding-right: 13px;
}

.dahs_right_neighb{
    padding-left: 18px;
    padding-right: 18px;
}



#box3 {
    // background-image: url("../img/assett-hr6tyu-rnhnrtsyghdfg--24.png");
    // background-size: cover;
    padding: 100px 19px;
    padding-bottom: 85px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);;
}

//ttt
#box3 .margedElement{
    margin-left: 15px;
    margin-right: 15px;
}



.t_basic{
    color: #fff !important;
}

.t_standard{
    color: #038779 !important;
}

.t_silver{
    color: silver !important;
}

.t_gold{
    color: gold !important;
}

.accountPrice{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;

    .currencySign{
        font-weight: 500;
    }

    .minimumDeposit{
        font-size: 14px;
        font-weight: 500;
    }
}



#box3 h1 {
    color: #fff;
    text-align: center;
}

#accountTypes {
    display: flex;
}

#box3 .shape{
    padding: 0;
    transition: .5s;
    position: relative;
    padding-bottom: 100px;
    &:hover{
        margin-top: 5px;
    }

    a{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

#box3 .shape {
    //ttt margin-left: 25px;
    //ttt margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 100px;
}

#box3 .shape h5 {
    margin: 20px;
    font-family: montBold;
    font-size: 1.5rem;
}

#box3 .shape a {
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: montBold;
    color: black;
    border-radius: 8px;
}

#box3 .shape a:hover {
    color: white;
}

#box3 .shape p {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px dashed #D1D2D4;
    padding-left: 5px;
    font-family: montBold;
}


#box3, #box4{
    background-image: url("../img/assett-hr6tyu-rnhnrtsyghdfg--24.png");
    background-size: cover;
    background-attachment: fixed;
}


#box4 {
    // background-image: url("../img/assett-hr6tyu-rnhnrtsyghdfg--24.png");
    // background-size: cover;
    //ttt padding: 100px 45px;
    // padding-bottom: 0px;
    // padding-top: 100px;

    padding: 85px 0;
    position: relative;
    min-height: 100vh;
}

#box4 .shape {
    margin-top: 0px;
    // margin-left: 10px;
    // margin-right: 10px;
    border-radius: 20px;
    position: relative;
    padding: 27px;
    height: 100%;
}

#box4 .shape:before {
    content: " ";
    display: block;
    width: 23px;
    height: 20px;
    background: url("../img/Icon awesome-quote-left.png") no-repeat;
    background-size: cover;
    position: absolute;
    top: 18px;
    left: 32px;
}

#box4 .shape:after {
    content: " ";
    display: block;
    width: 23px;
    height: 20px;
    background: url("../img/Icon awesome-quote-left_ret.png") no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 17px;
    right: 32px;
}

#box4 .shape h5 {
    text-align: left;
    font-family: montBold;
}

#box4 .shape p {
    color: #FFC128;
    text-align: left;
    font-family: montBold;
}

#box4 h1 {
    color: #fff;
    text-align: center;
    font-family: montBold;
    margin-bottom: 35px;
}

#tradingCards {
    display: flex;
}

.frame {
    border: 1px solid #FFC128;
    border-radius: 15px;
    padding: 25px;
    height: 100%;

    div{
        margin: 0;
        padding: 0px;
        display: inline-block;
        height: 1px;
    }
}




.owl-stage {
    display: flex !important;
}
.owl-item {
    display: flex !important;
    flex: 1 !important;
}