#particles-js {
    position: absolute;
    width: 100%;
    height: 100%; 
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    left: 0;
    top: 0;
    display: inline-block;
  }

  