---
layout: default
title: Assets - NORDAX24
---

<div class="page_title">
    <h3>ASSETS</h3>
</div>

<div class="container">
    <div class="row asset_information">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <img src="../assets/img/cryptocurrency-bitcoin-1280x720.jpg" alt="crypto image">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h4>Cryptocurrencies</h4>
            <p>Bitcoin is a unique and popular digital currency which is changing the financial industry. Its lack of
                physical form and decentralized nature achieved by the use of Blockchain technology, makes it perfect
                for Forex trading.
                This new and exciting currency is now available for trading at Nordax24.<br>
                Cryptocurrency markets are decentralised, which means they are not issued or backed by a central
                authority such as a government. Instead, they run across a network of computers. However,
                cryptocurrencies can be bought and sold via exchanges and stored in ‘wallets’.</p>

            <p>Unlike traditional currencies, cryptocurrencies exist only as a shared digital record of ownership,
                stored on a blockchain. When a user wants to send cryptocurrency units to another user, they send it to
                that user’s digital wallet. The transaction isn’t considered final until it has been verified and added
                to the blockchain through a process called mining. This is also how new cryptocurrency tokens are
                usually created.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row asset_information">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h4>What Is Forex</h4>
            <p>Forex, also known as a foreign a exchange, FX or currency trading – is a decentralized global market where all the world’s currencies are traded. The Forex market is the largest and most liquid market in the world with an average daily trading volume exceeding $5 trillion.<br>
                All forex trades include two currencies that allow you to predict the value of a currency against another. EUR/USD is the most traded currency pair in the world. For example, if you think the EUR is going to increase in value against the USD, you could place a trade to buy the EUR/USD currency pair. If the Euro rises, you would make a profit; if it drops you would incur a loss. Vice versa, if you thought the Euro was going to decrease in value, you could place a trade that would benefit from that price movement.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <img src="../assets/img/Is-forex-trading-legal-in-Indonesia-780x470.jpg" alt="chart">
        </div>
    </div>
</div>

<div class="container">
    <div class="row asset_information">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <img src="../assets/img/commodity-trading-1080x675.png" alt="crude oil">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h4>Commodities</h4>
            <p>Commodity market trades in the primary economic sector rather than manufactured products. This is a physical or virtual marketplace for buying, selling and trading raw or primary products. There are currently about 50 major commodity markets worldwide that facilitate investment trade in approximately 100 primary commodities. Commodities are divided into two main types – hard and soft commodities. Hard commodities are natural resources that must be mined or extracted (such as gold, rubber and oil). Soft commodities are agricultural products or livestock (such as corn, wheat, coffee, sugar, soybeans and pork). <br>
                Commodity traders either take positions based on forecasted economic trends or arbitrage opportunities in the commodity markets. Oil and gold are two of the most commonly traded commodities.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row asset_information">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h4>Stock Indices</h4>
            <p>The term CFD stands for Contract for Difference. The contract is an agreement between two parties to exchange the difference between the opening and closing price of the instrument. CFD trading allows you to take a position on the value of an instrument and predict whether it will rise or fall. As a derivatives product, you don’t actually own the underlying asset directly, which saves you from traditional physical dealing costs and all you are doing is simply trading on the movement of underlying prices.<br>
                The term CFD stands for Contract for Difference. The contract is an agreement between two parties to exchange the difference between the opening and closing price of the instrument. CFD trading allows you to take a position on the value of an instrument and predict whether it will rise or fall. As a derivatives product, you don’t actually own the underlying asset directly, which saves you from traditional physical dealing costs and all you are doing is simply trading on the movement of underlying prices.<br>
                For example, if you believe the price of an asset is going to rise, you go long or ‘buy’ and you’ll profit from every increase in price. If you believe the price of an asset is going to fall, you go short or ‘sell’ and you’ll profit from every fall in the price. You only suffer a loss if the markets don’t move in the direction you expected. <br>
                Trading on indices allows traders to speculate on whether an index will rise or fall. In this case, you can trade an index just as you would trade other commodities. In order to make a profit, you, as a trader, can decide to ‘sell’ an index at a higher price than its initial ‘buy’ cost, or to ‘buy’ an index back at a lower price than the one you originally ‘sold’ it for. Each share in an index contributes towards the calculation of its overall value, with the index rising or falling in value depending on the performance of its collective stocks.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <img src="../assets/img/2.png" alt="stock indices">
        </div>
    </div>
</div>


