---
layout: default
title: Company - NORDAX24
---

<div class="page_title">
    <h3>ABOUT US </h3>
</div>

<div id="comp" class="container">
    <div class="row asset_information">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <img src="../assets/img/1.png" alt="team lead">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h4>Who We Are?</h4>
            <p>Nordax24.com is one of Europe’s leading financial institutions specializing in Forex and CFDs trading.</p>
            <p>We have made ourselves the first choice for many traders by providing trading services and support for all our clients. It is our policy to provide the best possible trading conditions and software to our clients.</p>
            <p>Our mission is to provide a quality trading platform and up to the minute information that allows our clients no matter novice or experts to trade safely and securely.</p>
            <p>This has made Nordax24.com being trusted by many traders around the globe.</p>
        </div>
    </div>

    <div class="row asset_information">
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <h4>What We Provide</h4>
            <p>Nordax24.com offers various types of trading software and tools that allow individuals and institutional customers to trade Forex and CFDs online. Nordax24.com has carefully selected the account conditions to perfectly suit the needs of our clients at all types of investment size. Our Strategy Center, created by industry experts, was designed to provide our customers with all the knowledge needed to make the best possible investment decisions. With regularly updated content for every experience level, there is always something new to learn. Our Strategy Center will help you develop strategies and techniques, giving you the skills needed to increase your chances of becoming a successful trader. All of this coupled with our state of the art trading platforms, providing near-instant execution, and our constantly updated Strategy Center and market news, provide our customers with all the tools necessary to realize their trading goals. You can trade almost every important underlying asset from around the world and quickly take advantage of changes in Forex, Commodities, Index, Cryptocurrencies and Share prices, whether they go up or down.</p>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <h4>Bonus Policy</h4>
            <p>Nordax24 offers several attractive conditioned promotions features to its customers. One of them is the Bonuses features and the terms and conditions associated with such bonus promotions. Every Bonus given by Nordax24 could assist its customers potentially to achieve higher trading profits. Therefore, if you decide to withdraw funds, subject to the website’s terms and conditions provisions, you acknowledge and explicitly consent to be obliged to execute a minimum trading volume, as follows:
                Standard Lots (see definition on the website’s terms and conditions) = Bonus amount / 2 
                Kindly note, that funds can only be withdrawn when the preceding stipulation has been fully met and fulfilled according to the company Bonus policy. Any indication of fraud, manipulation, cash-back arbitrage, or other forms of deceitful or fraudulent activity based on the provision of the Bonus will nullify the account and any and all profits or losses garnered. The company reserves its right to change, modify and amend the bonus policy and the terms and conditions on this website, from time to time, according to its sole and exclusive judgment.</p>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <h4>What We Provide</h4>
            <p>We use state of the art technology to optimize your trading experience regardless of the device or platform you want to use. We provide the leading trading platform; Nordax24, which we've made available to all popular operating systems and all modern devices. Moreover, we offer our very own Web Trader platform which provides access to the markets directly through your web browser, giving you the ability to take advantage of the opportunities exclusively available to the forex market with ease and convenience.</p>
        </div>
    </div>
</div>