---
layout: default
title: Education - NORDAX24
---

<div class="page_title">
    <h3>TODAY’s Topic</h3>
</div>

<div class="container">
    <div id="whatIsCryptoC" class="row asset_information">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <img src="../assets/img/Stock-Market-2.jpg" alt="diagram">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h4>What is cryptocurrency trading?</h4>
            <p>Cryptocurrency trading is the act of speculating on cryptocurrency price movements via a CFD trading account, or buying and selling the underlying coins via an exchange.</p>

                <p>CFD trading on cryptocurrencies</p>
                <p>CFDs trading are derivatives, which enable you to speculate on cryptocurrency price movements without taking ownership of the underlying coins. You can go long (‘buy’) if you think a cryptocurrency will rise in value, or short (‘sell’) if you think it will fall.</p>
                
                <p>Both are leveraged products, meaning you only need to put up a small deposit – known as margin – to gain full exposure to the underlying market. Your profit or loss are still calculated according to the full size of your position, so leverage will magnify both profits and losses.</p>
                
                <p>Buying and selling cryptocurrencies via an exchange</p>
                <p>When you buy cryptocurrencies via an exchange, you purchase the coins themselves. You’ll need to create an exchange account, put up the full value of the asset to open a position, and store the cryptocurrency tokens in your own wallet until you’re ready to sell.</p>
                
                <p>Exchanges bring their own steep learning curve as you’ll need to get to grips with the technology involved and learn how to make sense of the data. Many exchanges also have limits on how much you can deposit, while accounts can be very expensive to maintain.</p>
        </div>
    </div>

    <div class="row asset_information">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h3>What is cryptocurrency trading?</h3>
            <p>Cryptocurrency markets are decentralised, which means they are not issued or backed by a central authority such as a government. Instead, they run across a network of computers. However, cryptocurrencies can be bought and sold via exchanges and stored in ‘wallets’ .
                <br>
                <br>
                Unlike traditional currencies, cryptocurrencies exist only as a shared digital record of ownership, stored on a blockchain. When a user wants to send cryptocurrency units to another user, they send it to that user’s digital wallet. The transaction isn’t considered final until it has been verified and added to the blockchain through a process called mining. This is also how new cryptocurrency tokens are usually created.
                <br>
                <br>
            </p>

            <h3>What is cryptocurrency mining?</h3>
            <p>Cryptocurrency mining is the process by which recent cryptocurrency transactions are checked and new blocks are added to the blockchain.
                <br>
                <br>
                Checking transactions
                <br>
                <br>
                Mining computers select pending transactions from a pool and check to ensure that the sender has sufficient funds to complete the transaction. This involves checking the transaction details against the transaction history stored in the blockchain. A second check confirms that the sender authorised the transfer of funds using their private key.
                <br>
                <br>
                Creating a new block
                <br>
                <br>
                Mining computers compile valid transactions into a new block and attempt to generate the cryptographic link to the previous block by finding a solution to a complex algorithm. When a computer succeeds in generating the link, it adds the block to its version of the blockchain file and broadcasts the update across the network.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h4>What is blockchain?</h4>
            <p>A blockchain is a shared digital register of recorded data. For cryptocurrencies, this is the transaction history for every unit of the cryptocurrency, which shows how ownership has changed over time. Blockchain works by recording transactions in ‘blocks’, with new blocks added at the front of the chain.</p>
            <img src="../assets/img/PSO_Crypto_what-is-blockchain-technology.png" alt="blockchain boxes">
            <p>Blockchain technology has unique security features that normal computer files do not have.</p>
            <p>Network consensus
                <br>
                <br>
                A blockchain file is always stored on multiple computers across a network – rather than in a single location – and is usually readable by everyone within the network. This makes it both transparent and very difficult to alter, with no one weak point vulnerable to hacks, or human or software error.
                <br>
                <br>
                Cryptography
                <br>
                <br>
                Blocks are linked together by cryptography – complex mathematics and computer science. Any attempt to alter data disrupts the cryptographic links between blocks, and can quickly be identified as fraudulent by computers in the network.
            </p>
        </div>
    </div>
</div>

