---
layout: default
title: Home - NORDAX24
---


<div id="box1">
  <div id="particles-js"></div>

  <div class="container justifyCenter">
    <div id="slogan" class="shape">
      <h1>Excellence has a name!</h1>
      <p>You have asked the best service and we have delivered it. Excellence is part of our daily work.
        Excellence in our in-depth knowledge of markets.</p>

      <div>
        <a href="/login" class="btn btn_yellow mr-2">Log In</a>
        <a href="/register" class="btn btn_green openAccount">Open Account</a>
      </div>
    </div>
  </div>

  <div id="iframeParent">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
        {
        "symbols": [
          {
            "proName": "FOREXCOM:SPXUSD",
            "title": "S&P 500"
          },
          {
            "proName": "FOREXCOM:NSXUSD",
            "title": "Nasdaq 100"
          },
          {
            "proName": "FX_IDC:EURUSD",
            "title": "EUR/USD"
          },
          {
            "proName": "BITSTAMP:BTCUSD",
            "title": "BTC/USD"
          },
          {
            "proName": "BITSTAMP:ETHUSD",
            "title": "ETH/USD"
          },
          {
            "description": "CNY / USD",
            "proName": "FX_IDC:CNYUSD"
          },
          {
            "description": "",
            "proName": "OANDA:GBPUSD"
          },
          {
            "description": "",
            "proName": "FX:USDJPY"
          },
          {
            "description": "",
            "proName": "FX:USDCAD"
          }
        ],
        "colorTheme": "dark",
        "isTransparent": true,
        "displayMode": "adaptive",
        "locale": "en"
        }
      </script>
    </div>
    <!-- TradingView Widget END -->
  </div>
</div>

<div id="box2">
  <div class="container">
    <div id="whyUs" class="shape">

      <div class="row">
        <div class="col-lg-6 col-md-6 dash_right">
          <div class="mr-2 dash_bottom">
            <h5>Why to choose us?</h5>
            <p>Nordax24 offers a wide range of trading instruments including currency pairs, Commodities and
              Indices. Besides, our knowledge and experience in FOREX Trading count towards our
              trustworthiness while we endeavour to give our customers all the needed support and
              education around FOREX trading.</p>
          </div>
          <div class="row mt-4 mr-2 ">
            <div class="col-lg-4">
              <img src="../assets/img/PC.png" alt="pc">
            </div>
            <div class="col-lg-8">
              <h5>Recovery</h5>
              <p>Forget your past bad experiences and trust our professionals to help you recover from a
                negative profit ratio! Our experts in Recovery Room will offer you the best services on
                the market as of today, to get to a positive end of your trading experience.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 dahs_right_neighb">
          <div class="row">
            <div class="col-lg-6">
              <h5>Commodities</h5>
              <p>Commodity market trades in the primary economic sector rather than manufactured products.
                This is a physical or virtual marketplace for buying, selling and trading raw or primary
                products.</p>
            </div>
            <div class="col-lg-6">
              <h5>Forex Currencies</h5>
              <p>Forex, also known as a foreign a exchange, FX or currency trading – is a decentralized
                global market where all the world’s currencies are traded.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <h5>Indices</h5>
              <p>Trading on indices allows traders to speculate on whether an index will rise or fall. In
                this case, you can trade an index just as you would trade other commodities.</p>
            </div>
            <div class="col-lg-6">
              <h5>Cryptocurrencies</h5>
              <p>Bitcoin is a unique and popular digital currency which is changing the financial
                industry. Its lack of physical form and decentralized nature achieved by the use of
                Blockchain technology, makes it perfect for Forex trading.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h5>Stocks</h5>
              <p>The term CFD stands for Contract for Difference. The contract is an agreement between two
                parties to exchange the difference between the opening and closing price of the
                instrument.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div id="box3">
  <div class="container">
    <h1>ACCOUNT TYPES</h1>

    <div id="accountTypes">

      <div class="shape">
        <h5 class="t_basic">BASIC</h5>
        <span class="accountPrice"><sup class="currencySign">$ </sup>250 <span class="minimumDeposit">Minimum Deposit</span></span>

        <p>24/6 Support</p>
        <p>Trading Platform: Nordax24</p>
        <p>Minimal Lot Sizes 0.1</p>
        <p>Education Center</p>
        <p>Daily Market Review</p>
        <p>Financial calendar</p>
        <p>Price Alerts</p>
        <p>Access to Major Assets</p>

        <a href="/register" class="btn btn_yellow">Open Account</a>
      </div>

      <div class="shape margedElement">
        <h5 class="t_standard">STANDARD</h5>
        <span class="accountPrice"><sup class="currencySign">$ </sup>1,000 <span class="minimumDeposit">Minimum Deposit</span></span>

        <p>24/6 Support</p>
        <p>Trading Platform: Nordax24</p>
        <p>Minimal Lot Sizes 0.2</p>
        <p>Education Center</p>
        <p>Daily Market Review</p>
        <p>Financial calendar</p>
        <p>Price Alerts</p>
        <p>Account Manager</p>
        <p>Access to 100+ Assets</p>

        <a href="/register" class="btn btn_yellow">Open Account</a>
      </div>

      <div class="shape">
        <h5 class="t_silver">SILVER</h5>
        <span class="accountPrice"><sup class="currencySign">$ </sup>5,000 <span class="minimumDeposit">Minimum Deposit</span></span>

        <p>Silver Spreads</p>
        <p>24/6 Support</p>
        <p>Trading Platform: Nordax24</p>
        <p>Minimal Lot Sizes 0.5</p>
        <p>Access to Masters (Partial)</p>
        <p>Education Center</p>
        <p>Daily Market Review</p>
        <p>Financial calendar & News Feed</p>
        <p>Price Alerts</p>
        <p>Account Manager</p>
        <p>Access to 200+ Assets</p>

        <a href="/register" class="btn btn_yellow">Open Account</a>

      </div>

    </div>

    <div id="accountTypes">

      <div class="shape">
        <h5 class="t_gold">GOLD</h5>
        <span class="accountPrice"><sup class="currencySign">$ </sup>10,000 <span class="minimumDeposit">Minimum Deposit</span></span>

        <p>Gold Spreads</p>
        <p>24/6 Support</p>
        <p>Trading Platform: Nordax24</p>
        <p>Minimal Lot Sizes 1.0</p>
        <p>Access to Masters (Full)</p>
        <p>Education Center</p>
        <p>Daily Market Review</p>
        <p>Financial calendar & News Feed</p>
        <p>Price Alerts</p>
        <p>Senior Account Manager</p>
        <p>Access to 500+ Assets</p>
        <p>Personalised Trading Strategy</p>
        <p>Higher Leverages on all the Assets</p>
        <p>VIP Signals</p>

        <a href="/register" class="btn btn_yellow">Open Account</a>
      </div>

      <div class="shape margedElement">
        <h5 class="t_silver">PLATINUM</h5>
        <span class="accountPrice"><sup class="currencySign">$ </sup>50,000 <span class="minimumDeposit">Minimum Deposit</span></span>

        <p>Platinum Spreads</p>
        <p>24/6 Support</p>
        <p>Trading Platform: Nordax24</p>
        <p>Minimal Lot Sizes 1.5</p>
        <p>Access to Masters (Become a Master)</p>
        <p>Education Center</p>
        <p>Daily Market Review</p>
        <p>Financial calendar & News Feed</p>
        <p>Price Alerts</p>
        <p>Senior Account Manager</p>
        <p>Access to 500+ Assets</p>
        <p>Personalised Trading Strategy</p>
        <p>1-on-1 Trading Trainer</p>
        <p>Higher Leverages on all the Assets</p>
        <p>VIP Signals</p>

        <a href="/register" class="btn btn_yellow">Open Account</a>
      </div>

      <div class="shape">
        <h5 class="t_exclusive">EXCLUSIVE</h5>
        <span class="accountPrice">For Exclusive Clients Only</span>

        <p>For more details contact your Account Manager</p>

        <a href="/register" class="btn btn_yellow">Open Account</a>

      </div>

    </div>
  </div>
</div>


<div id="box4">
  <div class="container justifyCenter">
    <h1>TRADING CARDS</h1>

    <div id="tradingCards" class="owl-carousel">
      <div class="shape">
        <div class="frame">
          <div>
            <h5>Money in, money out.<br>
              Money in, money out.<br>
              There’s no other way.</h5>

            <p>Henrique Simoes, futures trader</p>
          </div>
        </div>
      </div>
      <div class="shape">
        <div class="frame">
          <div>
            <h5>Strong motivation is a
              common characteristic
              among those who
              excel in any field.</h5>

            <p>Mark Minervini, stock trader & author</p>
          </div>
        </div>
      </div>
      <div class="shape">
        <div class="frame">
          <div>
            <h5>To trade successfully
              you have to do it
              full-time.</h5>

            <p>Monroe Trout hedge fund manage</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

