<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h5>KONTAKTE</h5>
                <ul>
                    <li>info@nordax24.com</li>
                    <li title="United Kingdom" itemprop="tel">UK Büro: +442080896450</li>
                    <li title="Switzerland" itemprop="tel">CH Büro: +41815087372</li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 support">
                <h5>UNTERSTÜTZUNG</h5>
                <ul>
                    <li>support@nordax24.com</li>
                    <li>Telefon: +442080894091</li>
                    <li class="color_yellow montBold pointer" onclick="downloadAnydesk()">ANYDESK-SOFTWARE</li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 company">
                <h5>UNTERNEHMEN</h5>
                <ul>
                    <li>
                        <a href="company.html">UNTERNEHMEN</a>
                    </li>
                    <li>
                        <a href="assets.html">VERMÖGENSWERTE</a>
                    </li>
                    <li>
                        <a href="platforms.html">PLATTFORMEN</a>
                    </li>
                    <li>
                        <a href="education.html">BILDUNG</a>
                    </li>
                    <li>
                        <a href="terms.html">GESCHÄFTSBEDINGUNGEN</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <img id="eyeIMG" src="../assets/img/asset 25-2.png" alt="eye">

    <div class="container">
        <a id="logoIMG_parent" href="index.html">
            <img src="../assets/img/logo.svg" alt="NORDAX24 logo">
        </a>
        <p class=" info">Die Wertentwicklung in der Vergangenheit ist nicht unbedingt ein Hinweis auf zukünftige Ergebnisse. Alle Anlagen sind mit Risiken verbunden und alle Anlageentscheidungen einer Person bleiben in der Verantwortung dieser Person. Es gibt keine Garantie dafür, dass Systeme, Indikatoren oder Signale zu Gewinnen führen oder dass sie nicht zu Verlusten führen. Allen Anlegern wird empfohlen, alle mit jeder Art von Anlage verbundenen Risiken vollständig zu verstehen. Eine hypothetische oder simulierte Leistung gibt keinen Hinweis auf zukünftige Ergebnisse.</p>

        <p>RISIKOWARNUNG - VERANTWORTLICHER HANDEL: Derivate sind Hebelprodukte, die ein hohes Risiko aufweisen und zum Verlust Ihres gesamten Kapitals führen können und daher möglicherweise nicht für alle Anleger geeignet sind. Sie sollten nicht mehr riskieren, als Sie zu verlieren bereit sind. Bevor Sie sich für den Handel entscheiden, stellen Sie bitte sicher, dass Sie die damit verbundenen Risiken verstehen, das Niveau Ihrer Erfahrung berücksichtigen und gegebenenfalls unabhängigen Rat einholen. Wir bieten strengstens keine Handelsberatung an. Klicken Sie hier, um unsere vollständige Erklärung zur Offenlegung von Risiken zu lesen.
        </p>

        <p>Urheberrechte © 2020, Nordax24.com. Alle Rechte vorbehalten..</p>
    </div>
</footer>