<nav id="navigation" class="nav-bar">
    <div class="container">
        <div class="hamburger">
            <span class="t"></span>
            <span class="m"></span>
            <span class="b"></span>
        </div>
        <div class="logo">
            <a href="index.html"></a>
        </div>
        <ul>
            <li><a href="company.html">UNTERNEHMEN</a></li>
            <li><a href="assets.html">VERMÖGENSWERTE</a></li>
            <li><a href="platforms.html">PLATTFORMEN</a></li>
            <li><a href="education.html">BILDUNG</a></li>
            <li><a href="/login" class="color_yellow">Anmeldung</a></li>
            <li><a href="/register" class="color_green">Registrieren</a></li>
            <!-- <li>
                <div class="d-flex">
                    <a href="#!" class=""></a>
                    <a href="#!">Register</a>
                </div>
            </li> -->
            <li class="lang">
                <div class="dropdown">
                    <span>De</span>
                    <i class="far fa-chevron-down"></i>

                    <div class="dropdown-content">
                        <a href="javascript:void(0);" onclick="testFunction('/')">En</a>
                        <a href="javascript:void(0);" onclick="testFunction('/de/')">De</a>
                    </div>
                </div>

                <!-- <div class="lang__container">
                    <button class="lang__btn">
                        <span>EN</span>
                        <i class="far fa-chevron-down"></i>
                    </button>
                    <div class="lang__container">s</div>
                </div> -->
            </li>
        </ul>
    </div>
</nav>