<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h5>CONTACTS</h5>
                <ul>
                    <li>info@nordax24.com</li>
                    <li title="United Kingdom">UK Office: +442080896450</li>
                    <li title="Switzerland">CH Office: +41815087372</li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 support">
                <h5>SUPPORT</h5>
                <ul>
                    <li>support@nordax24.com</li>
                    <li>Phone: +442080894091</li>
                    <li class="color_yellow montBold pointer" onclick="downloadAnydesk()">ANYDESK SOFTWARE</li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 company">
                <h5>COMPANY</h5>
                <ul>
                    <li>
                        <a href="company.html">COMPANY</a>
                    </li>
                    <li>
                        <a href="assets.html">ASSETS</a>
                    </li>
                    <li>
                        <a href="platforms.html">PLATFORMS</a>
                    </li>
                    <li>
                        <a href="education.html">EDUCATION</a>
                    </li>
                    <li>
                        <a href="terms.html">Terms and Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <img id="eyeIMG" src="../assets/img/asset 25-2.png" alt="eye">

    <div class="container">
        <a id="logoIMG_parent" href="index.html">
            <img src="../assets/img/logo.svg" alt="NORDAX24 logo">
        </a>
        <p class=" info">Past performance is not necessarily indicative of future results. All investments carry risk
            and
            all
            investment decisions of an
            individual remain the responsibility of that individual. There is no guarantee that systems, indicators, or
            signals will result in
            profits or that they will not result in losses. All investors are advised to fully understand all risks
            associated with any kind of
            investing they choose to do. Hypothetical or simulated performance is not indicative of future results.</p>

        <p>RISK WARNING - TRADE RESPONSIBLY: Derivatives are leveraged products that incur a high level of risk and
            can
            result in the loss of all your capital and may therefore not be suitable for all investors. You should
            not
            risk more than you are prepared to lose and before deciding to trade, please ensure you understand the
            risks
            involved, take the level of your experience into consideration and seek independent advice if necessary.
            We
            strictly do not provide trading advice. To read our full risk disclosure statement, please click here
        </p>

        <p>Copyright © 2020, Nordax24.com . All Rights Reserved.</p>
    </div>
</footer>