---
layout: de_default
title: Assets - NORDAX24
---

<div class="page_title">
    <h3>Vermögenswerte</h3>
</div>

<div class="container">
    <div class="row asset_information">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <img src="../assets/img/cryptocurrency-bitcoin-1280x720.jpg" alt="crypto image">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h4>Kryptowährungen</h4>
            <p>Bitcoin ist eine einzigartige und beliebte digitale Währung, die die Finanzbranche verändert. Aufgrund seiner fehlenden physischen Form und Dezentralität, die durch die Verwendung der Blockchain-Technologie erzielt werden, eignet sich das Produkt perfekt für den FOREX-Handel. Diese neue und aufregende Währung kann ab sofort bei Nordax24.com gehandelt werden.</p>

        </div>
    </div>
</div>

<div class="container">
    <div class="row asset_information">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h4>Was ist Forex?</h4>
            <p>Forex, auch als Devisen-, FX- oder Devisenhandel bekannt, ist ein dezentraler globaler Markt, auf dem alle Währungen der Welt gehandelt werden. Der Forex-Markt ist der größte und liquideste Markt der Welt mit einem durchschnittlichen täglichen Handelsvolumen von mehr als 5 Billionen US-Dollar. Alle Forex-Trades beinhalten zwei Währungen, mit denen Sie den Wert einer Währung gegenüber einer anderen vorhersagen können. EUR / USD ist das meistgehandelte Währungspaar der Welt. Wenn Sie beispielsweise glauben, dass der EUR gegenüber dem USD an Wert gewinnen wird, können Sie einen Trade platzieren, um das Währungspaar EUR / USD zu kaufen. Wenn der Euro steigt, würden Sie einen Gewinn erzielen. Wenn es sinkt, würden Sie einen Verlust erleiden. Umgekehrt, wenn Sie dachten, der Euro würde an Wert verlieren, könnten Sie einen Trade platzieren, der von dieser Preisbewegung profitieren würde.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <img src="../assets/img/Is-forex-trading-legal-in-Indonesia-780x470.jpg" alt="chart">
        </div>
    </div>
</div>

<div class="container">
    <div class="row asset_information">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <img src="../assets/img/commodity-trading-1080x675.png" alt="crude oil">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h4>Rohstoffe</h4>
            <p>Der Rohstoffmarkt handelt eher im primären Wirtschaftssektor als mit hergestellten Produkten. Dies ist ein physischer oder virtueller Marktplatz zum Kaufen, Verkaufen und Handeln von Roh- oder Primärprodukten. Derzeit gibt es weltweit etwa 50 große Rohstoffmärkte, die den Handel mit etwa 100 Primärrohstoffen erleichtern. Rohstoffe werden in zwei Haupttypen unterteilt - harte und weiche Rohstoffe. Harte Rohstoffe sind natürliche Ressourcen, die abgebaut oder gefördert werden müssen (z. B. Gold, Gummi und Öl). Soft Commodities sind landwirtschaftliche Produkte oder Nutztiere (wie Mais, Weizen, Kaffee, Zucker, Sojabohnen und Schweinefleisch)</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row asset_information">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h4>Bestände Indizes</h4>
            <p>Der Begriff CFD steht für Contract for Difference. Der Vertrag ist eine Vereinbarung zwischen zwei Parteien, um die Differenz zwischen dem Eröffnungs- und dem Schlusskurs des Instruments auszutauschen. Mit dem CFD-Handel können Sie eine Position zum Wert eines Instruments einnehmen und vorhersagen, ob es steigen oder fallen wird. Als Derivatprodukt besitzen Sie den zugrunde liegenden Vermögenswert nicht direkt, was Sie vor den herkömmlichen physischen Handelskosten bewahrt. Sie handeln lediglich mit der Bewegung der zugrunde liegenden Preise. Wenn Sie zum Beispiel glauben, dass der Preis eines Vermögenswerts steigen wird, kaufen Sie eine Aktie und profitieren von jeder Preiserhöhung. Wenn Sie glauben, dass der Preis eines Vermögenswerts fallen wird, gehen Sie zu kurz oder „verkaufen“ und profitieren von jedem Preisverfall. Sie erleiden nur dann einen Verlust, wenn sich die Märkte nicht in die von Ihnen erwartete Richtung bewegen.
                Der Handel mit Indizes ermöglicht es Händlern, darüber zu spekulieren, ob ein Index steigen oder fallen wird. In diesem Fall können Sie mit einem Index genauso handeln wie mit anderen Rohstoffen. Um einen Gewinn zu erzielen, können Sie als Trader entscheiden, einen Index zu einem höheren Preis als den ursprünglichen Anschaffungskosten zu verkaufen oder einen Index zu einem niedrigeren Preis als dem ursprünglichen zurückzukaufen. Jede Aktie eines Index trägt zur Berechnung ihres Gesamtwerts bei, wobei der Index je nach Wertentwicklung seiner Kollektivaktien ansteigt oder abfällt.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <img src="../assets/img/2.png" alt="stock indices">
        </div>
    </div>
</div>


