---
layout: de_default
title: Education - NORDAX24
---

<div class="page_title">
    <h3>HEUTE Thema</h3>
</div>

<div class="container">
    <div id="whatIsCryptoC" class="row asset_information">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <img src="../assets/img/Stock-Market-2.jpg" alt="diagram">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h4>Was ist Kryptowährungshandel?</h4>
            <p>Beim Handel mit Kryptowährungen wird über Preisbewegungen bei Kryptowährungen über ein CFD-Handelskonto spekuliert oder die zugrunde liegenden Münzen über eine Börse gekauft und verkauft.</p>

                <p>CFD-Handel mit Kryptowährungen</p>
                <p>Der Handel mit CFDs ist ein Derivat, mit dem Sie über Preisbewegungen in Kryptowährung spekulieren können, ohne das Eigentum an den zugrunde liegenden Münzen zu übernehmen. Sie können Long ("Kaufen") gehen, wenn Sie glauben, dass eine Kryptowährung an Wert gewinnt, oder Short ("Verkaufen"), wenn Sie glauben, dass sie fallen wird.</p>
                
                <p>Bei beiden handelt es sich um Leveraged-Produkte, dh Sie müssen nur eine kleine Einzahlung tätigen, die als Margin bezeichnet wird, um ein vollständiges Engagement im zugrunde liegenden Markt zu erzielen. Ihr Gewinn oder Verlust wird weiterhin nach der vollen Größe Ihrer Position berechnet, sodass die Hebelwirkung sowohl Gewinne als auch Verluste vergrößert.</p>
                
                <p>Kauf und Verkauf von Kryptowährungen über eine Börse</p>
                <p>Wenn Sie Kryptowährungen über eine Börse kaufen, kaufen Sie die Münzen selbst. Sie müssen ein Exchange-Konto erstellen, den vollen Wert des Assets angeben, um eine Position zu eröffnen, und die Kryptowährungstoken in Ihrer eigenen Brieftasche speichern, bis Sie zum Verkauf bereit sind.</p>
                
                <p>Der Austausch bringt eine eigene steile Lernkurve mit sich, da Sie sich mit der Technologie auseinandersetzen und lernen müssen, wie Sie die Daten verstehen. Viele Börsen haben auch Beschränkungen, wie viel Sie einzahlen können, während die Pflege von Konten sehr teuer sein kann.</p>
        </div>
    </div>

    <div class="row asset_information">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h3>Was ist Kryptowährungshandel?</h3>
            <p>Kryptowährungsmärkte sind dezentralisiert, dh sie werden nicht von einer zentralen Behörde wie einer Regierung ausgegeben oder unterstützt. Stattdessen laufen sie über ein Computernetzwerk. Kryptowährungen können jedoch über Börsen gekauft und verkauft und in „Brieftaschen“ gespeichert werden.
                <br>
                <br>
                Im Gegensatz zu herkömmlichen Währungen existieren Kryptowährungen nur als gemeinsame digitale Eigentumsaufzeichnung, die in einer Blockchain gespeichert ist. Wenn ein Benutzer Kryptowährungseinheiten an einen anderen Benutzer senden möchte, sendet er diese an die digitale Geldbörse dieses Benutzers. Die Transaktion gilt erst als endgültig, wenn sie überprüft und durch einen als Mining bezeichneten Prozess zur Blockchain hinzugefügt wurde. Auf diese Weise werden normalerweise auch neue Kryptowährungstoken erstellt.
                <br>
                <br>
            </p>

            <h3>Was ist Cryptocurrency Mining?</h3>
            <p>Cryptocurrency Mining ist der Prozess, bei dem aktuelle Kryptowährungstransaktionen überprüft und neue Blöcke zur Blockchain hinzugefügt werden.
                <br>
                <br>
                Transaktionen überprüfen
                <br>
                <br>
                Mining-Computer wählen ausstehende Transaktionen aus einem Pool aus und prüfen, ob der Absender über ausreichende Mittel verfügt, um die Transaktion abzuschließen. Dies beinhaltet das Überprüfen der Transaktionsdetails mit dem in der Blockchain gespeicherten Transaktionsverlauf. Eine zweite Überprüfung bestätigt, dass der Absender die Überweisung mit seinem privaten Schlüssel autorisiert hat.
                <br>
                <br>
                Neuen Block erstellen
                <br>
                <br>
                Mining-Computer kompilieren gültige Transaktionen in einen neuen Block und versuchen, die kryptografische Verbindung zum vorherigen Block zu generieren, indem eine Lösung für einen komplexen Algorithmus gefunden wird. Wenn es einem Computer gelingt, die Verknüpfung zu generieren, fügt er den Block seiner Version der Blockchain-Datei hinzu und sendet das Update über das Netzwerk.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h4>Was ist Blockchain?</h4>
            <p>Eine Blockchain ist ein gemeinsames digitales Register aufgezeichneter Daten. Bei Kryptowährungen ist dies der Transaktionsverlauf für jede Einheit der Kryptowährung, der zeigt, wie sich der Besitz im Laufe der Zeit geändert hat. Blockchain zeichnet Transaktionen in "Blöcken" auf, wobei neue Blöcke an der Vorderseite der Kette hinzugefügt werden.</p>
            <img src="../assets/img/PSO_Crypto_what-is-blockchain-technology.png" alt="blockchain boxes">
            <p>Die Blockchain-Technologie verfügt über einzigartige Sicherheitsfunktionen, die normale Computerdateien nicht haben.</p>
            <p>Netzwerkkonsens
                <br>
                <br>
                Eine Blockchain-Datei wird immer auf mehreren Computern in einem Netzwerk gespeichert - und nicht an einem einzigen Ort - und ist normalerweise für alle im Netzwerk lesbar. Dies macht es sowohl transparent als auch sehr schwierig zu ändern, da keine Schwachstelle für Hacks oder menschliche oder Softwarefehler anfällig ist.
                <br>
                <br>
                Kryptographie
                <br>
                <br>
                Blöcke sind durch Kryptographie miteinander verbunden - komplexe Mathematik und Informatik. Jeder Versuch, Daten zu ändern, unterbricht die kryptografischen Verbindungen zwischen Blöcken und kann von Computern im Netzwerk schnell als betrügerisch identifiziert werden.
            </p>
        </div>
    </div>
</div>

