---
layout: de_default
title: Home - NORDAX24
---


<div id="box1">
    <div id="particles-js"></div>
  
    <div class="container justifyCenter">
      <div id="slogan" class="shape">
        <h1>Exzellenz hat einen Namen!</h1>
        <p>Sie haben nach dem besten Service gefragt und wir haben ihn geliefert. Exzellenz ist Teil unserer täglichen Arbeit.
            Hervorragende Kenntnisse in den Märkten.</p>
  
        <div>
          <a href="/login" class="btn btn_yellow mr-2">Anmeldung</a>
          <a href="/register" class="btn btn_green openAccount">Offener Account</a>
        </div>
      </div>
    </div>
  
    <div id="iframeParent">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
          {
          "symbols": [
            {
              "proName": "FOREXCOM:SPXUSD",
              "title": "S&P 500"
            },
            {
              "proName": "FOREXCOM:NSXUSD",
              "title": "Nasdaq 100"
            },
            {
              "proName": "FX_IDC:EURUSD",
              "title": "EUR/USD"
            },
            {
              "proName": "BITSTAMP:BTCUSD",
              "title": "BTC/USD"
            },
            {
              "proName": "BITSTAMP:ETHUSD",
              "title": "ETH/USD"
            },
            {
              "description": "CNY / USD",
              "proName": "FX_IDC:CNYUSD"
            },
            {
              "description": "",
              "proName": "OANDA:GBPUSD"
            },
            {
              "description": "",
              "proName": "FX:USDJPY"
            },
            {
              "description": "",
              "proName": "FX:USDCAD"
            }
          ],
          "colorTheme": "dark",
          "isTransparent": true,
          "displayMode": "adaptive",
          "locale": "de"
          }
        </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
  </div>
  
  <div id="box2">
    <div class="container">
      <div id="whyUs" class="shape">
  
        <div class="row">
          <div class="col-lg-6 col-md-6 dash_right">
            <div class="mr-2 dash_bottom">
              <h5>Warum uns wählen?</h5>
              <p>Nordax24 bietet eine breite Palette von Handelsinstrumenten an, darunter Währungspaare, Rohstoffe und Indizes. Darüber hinaus tragen unser Wissen und unsere Erfahrung im FOREX-Handel zu unserer Vertrauenswürdigkeit bei, während wir uns bemühen, unseren Kunden die notwendige Unterstützung und Schulung rund um den FOREX-Handel zu bieten..</p>
            </div>
            <div class="row mt-4 mr-2 ">
              <div class="col-lg-4">
                <img src="../assets/img/PC.png" alt="pc">
              </div>
              <div class="col-lg-8">
                <h5>Wiederherstellung</h5>
                <p>Vergessen Sie Ihre schlechten Erfahrungen in der Vergangenheit und vertrauen Sie darauf, dass unsere Fachleute Sie dabei unterstützen, sich von einer Verlust zu erholen! Unsere Experten für Wiederherstellung bieten Ihnen ab sofort die besten Dienstleistungen auf dem Markt, um Ihre Handelserfahrung zu einem positiven Ende zu bringen.</p>
              </div>
            </div>
          </div>
  
          <div class="col-lg-6 col-md-6 dahs_right_neighb">
            <div class="row">
              <div class="col-lg-6">
                <h5>Rohstoffe</h5>
                <p>Der Rohstoffmarkt handelt eher im primären Wirtschaftssektor als mit hergestellten Produkten.</p>
              </div>
              <div class="col-lg-6">
                <h5>Forex</h5>
                <p>Forex, auch als Devisen-, FX- oder Devisenhandel bekannt, ist ein dezentraler globaler Markt, auf dem alle Währungen der Welt gehandelt werden.</p>
              </div>
            </div>
  
            <div class="row">
              <div class="col-lg-6">
                <h5>Indizes</h5>
                <p>Der Handel mit Indizes ermöglicht es Händlern, darüber zu spekulieren, ob ein Index steigen oder fallen wird. In diesem Fall können Sie mit einem Index genauso handeln wie mit anderen Rohstoffen.</p>
              </div>
              <div class="col-lg-6">
                <h5>Kryptowährungen</h5>
                <p>Bitcoin ist eine einzigartige und beliebte digitale Währung, die die Finanzbranche verändert. Aufgrund seiner fehlenden physischen Form und Dezentralität, die durch die Verwendung der Blockchain-Technologie erzielt werden, eignet sich das Produkt perfekt für den FOREX-Handel.</p>
              </div>
            </div>
  
            <div class="row">
              <div class="col-lg-12">
                <h5>Bestände</h5>
                <p>Der Begriff CFD steht für Contract for Difference. Der Vertrag ist eine Vereinbarung zwischen zwei Parteien, um die Differenz zwischen dem Eröffnungs- und dem Schlusskurs des Instruments auszutauschen.</p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <div id="box3">
    <div class="container">
      <h1>KONTOTYPEN</h1>
  
      <div id="accountTypes">
  
        <div class="shape">
          <h5 class="t_basic">BASIC</h5>
          <span class="accountPrice"><sup class="currencySign">$ </sup>250 <span class="minimumDeposit">Mindesteinzahlung</span></span>
  
          <p>24/6 Unterstützung</p>
          <p>Handelsplattform: Nordax24</p>
          <p>Mindestlosgrößen 0.1</p>
          <p>Bildungszentrum</p>
          <p>Täglicher Marktüberblick</p>
          <p>Finanzkalender</p>
          <p>Preisbenachrichtigungen</p>
          <p>Zugang zu wichtigen Vermögenswerten</p>
  
          <a href="/register" class="btn btn_yellow">Offener Account</a>
        </div>
  
        <div class="shape margedElement">
          <h5 class="t_standard">STANDARD</h5>
          <span class="accountPrice"><sup class="currencySign">$ </sup>1,000 <span class="minimumDeposit">Mindesteinzahlung</span></span>
  
          <p>24/6 Unterstützung</p>
          <p>Handelsplattform: Nordax24</p>
          <p>Mindestlosgrößen 0.2</p>
          <p>Bildungszentrum</p>
          <p>Täglicher Marktüberblick</p>
          <p>Finanzkalender</p>
          <p>Preisbenachrichtigungen</p>
          <p>Buchhalter</p>
          <p>Zugriff auf 100+ Assets</p>
  
          <a href="/register" class="btn btn_yellow">Offener Account</a>
        </div>
  
        <div class="shape">
          <h5 class="t_silver">SILBER</h5>
          <span class="accountPrice"><sup class="currencySign">$ </sup>5,000 <span class="minimumDeposit">Mindesteinzahlung</span></span>
  
          <p>Silberaufstriche</p>
          <p>24/6 Unterstützung</p>
          <p>Handelsplattform: Nordax24</p>
          <p>Mindestlosgrößen 0.5</p>
          <p>Zugang zu Masters (Teilweise)</p>
          <p>Bildungszentrum</p>
          <p>Täglicher Marktüberblick</p>
          <p>Finanzkalender & News Feed</p>
          <p>Preisbenachrichtigungen</p>
          <p>Buchhalter</p>
          <p>Zugriff auf 200+ Assets</p>
  
          <a href="/register" class="btn btn_yellow">Offener Account</a>
  
        </div>
  
      </div>
  
      <div id="accountTypes">
  
        <div class="shape">
          <h5 class="t_gold">GOLD</h5>
          <span class="accountPrice"><sup class="currencySign">$ </sup>10,000 <span class="minimumDeposit">Mindesteinzahlung</span></span>
  
          <p>Goldaufstriche</p>
          <p>24/6 Unterstützung</p>
          <p>Handelsplattform: Nordax24</p>
          <p>Mindestlosgrößen 1.0</p>
          <p>Zugang zu Masters (Voll)</p>
          <p>Bildungszentrum</p>
          <p>Täglicher Marktüberblick</p>
          <p>Finanzkalender & News Feed</p>
          <p>Preisbenachrichtigungen</p>
          <p>Senior Buchhalter</p>
          <p>Zugriff auf 500+ Assets</p>
          <p>Personalisierte Handelsstrategie</p>
          <p>Höhere Hebel bei allen Vermögenswerten</p>
          <p>VIP-Signale</p>
  
          <a href="/register" class="btn btn_yellow">Offener Account</a>
        </div>
  
        <div class="shape margedElement">
          <h5 class="t_silver">Platin</h5>
          <span class="accountPrice"><sup class="currencySign">$ </sup>50,000 <span class="minimumDeposit">Mindesteinzahlung</span></span>
  
          <p>Platinaufstriche</p>
          <p>24/6 Unterstützung</p>
          <p>Handelsplattform: Nordax24</p>
          <p>Mindestlosgrößen 1.5</p>
          <p>Zugang zu Masters (Werde ein Meister)</p>
          <p>Bildungszentrum</p>
          <p>Täglicher Marktüberblick</p>
          <p>Finanzkalender & News Feed</p>
          <p>Preisbenachrichtigungen</p>
          <p>Senior Buchhalter</p>
          <p>Access to 500+ Assets</p>
          <p>Personalisierte Handelsstrategie</p>
          <p>1-zu-1-Handelstrainer</p>
          <p>Höhere Hebel bei allen Vermögenswerten</p>
          <p>VIP-Signale</p>
  
          <a href="/register" class="btn btn_yellow">Offener Account</a>
        </div>
  
        <div class="shape">
          <h5 class="t_exclusive">EXKLUSIV</h5>
          <span class="accountPrice">Nur für exklusive Kunden</span>
  
          <p>Für weitere Informationen wenden Sie sich bitte an Ihren Buchhalter</p>
  
          <a href="/register" class="btn btn_yellow">Offener Account</a>
  
        </div>
  
      </div>
    </div>
  </div>
  
  
  <div id="box4">
    <div class="container justifyCenter">
      <h1>SAMMELKARTEN</h1>
  
      <div id="tradingCards" class="owl-carousel">
        <div class="shape">
          <div class="frame">
            <div>
              <h5>Geld rein, Geld raus.<br>
                Geld rein, Geld raus.<br>
                Es gibt keinen anderen Weg.</h5>
  
              <p>Henrique Simoes, Futures-Händler</p>
            </div>
          </div>
        </div>
        <div class="shape">
          <div class="frame">
            <div>
              <h5>Starke Motivation ist ein gemeinsames Merkmal derjenigen, die sich in jedem Bereich auszeichnen.</h5>
  
              <p>Mark Minervini, Aktienhändler & Autor</p>
            </div>
          </div>
        </div>
        <div class="shape">
          <div class="frame">
            <div>
              <h5>Um erfolgreich zu handeln, müssen Sie dies in Vollzeit tun.</h5>
  
              <p>Monroe Trout Hedgefonds Manager</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  