{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Nordax24 is one of Europe's leading financial institutions specializing in Forex and CFDs trading.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
<!--    <link rel="icon" href="assets/img/favicon.ico">-->
    <link rel="stylesheet" href="../assets/css/style.css?v=1.4">

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" rel="stylesheet">


    
    <link rel="shortcut icon" href="../assets/img/favicon.png">

    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": "Nordax24",
        "sku": "Nordax24",
        "mpn": "Nordax24",
        "description": "Nordax24.com is one of Europe’s leading financial institutions specializing in Forex and CFDs trading.",
        "brand": {
          "@type": "Brand",
          "name": "nordax24"
        },
        "image": "https://nordax24.com/",
        "review": {
          "@type": "Review",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5"
          },
          "author": {
            "@type": "Person",
            "name": "nordax24"
          },
          "reviewBody": "This is my first review of company , I'm full of positive emotions .. this people know what they do and their service is just mind blowing. At first i thought it's too good to be true but , I made my step.... and now recommend everyone to use their service . In case you will have a chance to select broker i recommend Frank Varga  ... That man is just amazing , very friendly and very professional . All his trades are just very well analysed and done right time in right way  ... the results speak .  Nordax24 !  thank you !!!!!"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "reviewCount": "9999"
        },
        "offers": [ 
          {
            "@type": "Offer",
            "sku": "BASIC",
            "price": 250,
            "priceCurrency": "USD",
            "availability": "InStock",
            "priceValidUntil": "01-01-2040",
            "url":"/"
          },
          {
            "@type": "Offer",
            "sku": "STANDARD",
            "price": 1000,
            "priceCurrency": "USD",
            "availability": "InStock",
            "priceValidUntil": "01-01-2040",
            "url":"/"
          },
          {
            "@type": "Offer",
            "sku": "SILVER",
            "price": 5000,
            "priceCurrency": "USD",
            "availability": "InStock",
            "priceValidUntil": "01-01-2040",
            "url":"/"
          },
          {
            "@type": "Offer",
            "sku": "GOLD",
            "price": 10000,
            "priceCurrency": "USD",
            "availability": "InStock",
            "priceValidUntil": "01-01-2040",
            "url":"/"
          },
          {
            "@type": "Offer",
            "sku": "PLATINUM",
            "price": 50000,
            "priceCurrency": "USD",
            "availability": "InStock",
            "priceValidUntil": "01-01-2040",
            "url":"/"
          }
        ]
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Organization",
        "brand": {
          "@type": "Brand",
          "name": "nordax24"
        },
        "description": "Nordax24.com is one of Europe’s leading financial institutions specializing in Forex and CFDs trading.",
        "logo": "https://nordax24.com/assets/img/logo.svg",
        "url": "https://nordax24.com/",
        "email": "info@nordax24.com",
        "telephone": "+442080896450",
        "name": "nordax24",
        "review": {
          "@type": "Review",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5"
          },
          "author": {
            "@type": "Person",
            "name": "nordax24"
          },
          "reviewBody": "This is my first review of company , I'm full of positive emotions .. this people know what they do and their service is just mind blowing. At first i thought it's too good to be true but , I made my step.... and now recommend everyone to use their service . In case you will have a chance to select broker i recommend Frank Varga  ... That man is just amazing , very friendly and very professional . All his trades are just very well analysed and done right time in right way  ... the results speak .  Nordax24 !  thank you !!!!!"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "88",
          "bestRating": "100",
          "ratingCount": "20"
        }
      }
    </script>
</head>

<body>
{{>de_navigation}}
{{> body}}
{{>de_footer}}

<script src="../assets/vendors/js/jquery.min.js"></script>
<script src="../assets/vendors/js/bootstrap.min.js"></script>
<script src="../assets/vendors/js/slick.min.js"></script>
<script src="../assets/js/main.js?v=1.4"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

</body>
</html>
